<div class="modal fade" id="videoModal" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-xl modal-dialog-centered">
    <div class="modal-content bg-dark text-white">
      <div class="modal-header border-secondary">
        <h5 class="modal-title" id="videoModalTitle">Reproduciendo</h5>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close" onclick="stopVideo()"></button>
      </div>
      <div class="modal-body text-center p-0 bg-black">
        <video id="webVideoPlayer" controls autoplay playsinline style="width: 100%; max-height: 80vh;"></video>
      </div>
    </div>
  </div>
</div>
